form{
    border: 1px solid #eaeaea;
    padding: 25px;
    box-shadow: 0px 0px 300px 200px rgba(112, 99, 99, 0.05);
}
.form-control.ng-invalid.ng-touched{
    border: 1px solid red;
}
.ng-touched.ng-valid+.text-danger{
    display: none;
}
.ng-untouched+.text-danger{
    display: none;
}
.form-control.ng-invalid.ng-touched+.text-warning{
    display: block;
}